name: flutter_blue_plus
description: Flutter plugin for connecting and communicating with Bluetooth Low Energy devices.
version: 1.35.3
homepage: https://github.com/chipweinberger/flutter_blue_plus

environment:
  sdk: ^3.0.0
  flutter: '>=3.7.0'

dependencies:
  flutter:
    sdk: flutter
#  flutter_blue_plus_windows: ^1.26.1
  flutter_blue_plus_windows:
    path: ../flutter_blue_plus_windows
  flutter_blue_plus_android: ^3.0.0
  flutter_blue_plus_darwin: ^3.0.0
  flutter_blue_plus_linux: ^3.0.0
  flutter_blue_plus_platform_interface: ^3.0.0
  flutter_blue_plus_web: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      windows:
        default_package: flutter_blue_plus_windows
      android:
        default_package: flutter_blue_plus_android
      ios:
        default_package: flutter_blue_plus_darwin
      linux:
        default_package: flutter_blue_plus_linux
      macos:
        default_package: flutter_blue_plus_darwin
      web:
        default_package: flutter_blue_plus_web
